@import "styles/mixins";
@import "styles/colors";

.root {
  padding: 20px;
  width: 100%;
  color: #fff;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 30px;
  opacity: 0.5;
}
