@import "styles/mixins";
@import "styles/colors";

.root {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.field {
  display: flex;
  align-items: center;
}

.fieldTitle {
  width: 100px;
  font-size: 18px;
  color: $black;
}

.fieldInput {
  padding: 0 10px;
  width: 300px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
  line-height: 28px;
  outline: none;
  border: 1px solid $darkGray;
  border-radius: 5px;
}

.copyBtn {
  position: relative;
  margin-left: 30px;
  width: 30px;
  height: 30px;
  @include bg('copyIcon.svg');
  cursor: pointer;
}

.copyBtn::after {
  content: 'copied!';
  position:absolute;
  transform: translate(100%, -50%);
  top: 50%;
  right: -10px;
  pointer-events: none;
  cursor: default;
  opacity: 0;
  transition: 0.1s;
}

.copyBtn:global(.active)::after {
  opacity: 1;
}

.colorPreview {
  margin-left: 35px;
  width: 20px;
  height: 30px;
  border: 1px solid $darkGray;
  border-radius: 5px;
}
